.glitchWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
}

.glitch {
  position: relative;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 5px;
  animation: shift 4s ease-in-out infinite alternate;
  z-index: 1;
}

.glitch::before,
.glitch::after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  overflow: hidden;
}

.glitch::before {
  left: -2px;
  text-shadow: -1px 0 #00ffff;
  color: #dc252a;
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: 2px;
  text-shadow: 1px 0 #dc252a;
  color: #dc252a;
  animation: noise-after 2s infinite linear alternate-reverse;
}
